<head> <script language="javascript" type="text/javascript">alert("Welcome to Your Diary! Either create an account or login, to access your secret diary.")</script></head><font face="TimesNewRoman"><span style="font-size: 15pt; text-decoration: none"></span></a></font>

<BODY BGCOLOR="FEEFD">

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
